@model WeatherConditionViewModel
@{
    ViewData["Title"] = "Results";
}

<div class="text-center">
<h1>Current Weather</h1>

@await Html.PartialAsync("_WeatherSearchPartial")

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="text-danger">@Model.ErrorMessage</p>
}
else
{
        <p>(temperature values in degress celsius)</p>
            <label asp-for="@Model.LocationName"></label>
            <p>@Model.LocationName</p>
            <label>Lat/Long</label>
            <p>@Model.Lat, @Model.Lon</p>

            <label asp-for="@Model.CurrentTemp"></label>
            <p>@Model.CurrentTemp</p>

            <label asp-for="@Model.MinTemp"></label>
            <p>@Model.MinTemp</p>

            <label asp-for="@Model.MaxTemp"></label>
            <p>@Model.MinTemp</p>

            <label asp-for="@Model.Sunrise"></label>
            <p>@Model.Sunrise.TimeOfDay</p>

            <label asp-for="@Model.Sunset"></label>
            <p>@Model.Sunset.TimeOfDay</p>
}
</div>


